body
{ width: 280px; overflow: hidden; }

#gemExplorer
{ width: 910px; height: 300px;  }

#gemExplorer .board
{ width: 300px; height: 300px; float: left; overflow: auto; }

#gemList, #gemView
{ display: block; }