<div id="about">

	<div class="header">
		 <a href="#/" class="back"> 
  		<img src="imgs/icons/arrow_white_left.jpg" />
  	</a>
	</div>

	<div class="sub-header arrow left">
    About
	</div>	

  <div class="page">

    <div class="content_block">
      <h1> Propose </h1>

      This Chrome extension was designed to speed up the search and retrieval of information concerning to gems registered in rubygems.org.

    </div>

    <div class="developers content_block">
      <h1> Developer(s) </h1>

      <ul>
        <li>
          <img src="/imgs/icons/flag_br.jpg" class="flag"/>
          Pedro Mendes

          <span class="social">
            <a target="_blank" href="http://www.pedromendes.com.br/"> <img src="/imgs/icons/globe_mini.jpg" class="flag"/> </a>  
            <a target="_blank" href="http://www.twitter.com/pedrolopesme"> <img src="/imgs/icons/twitter.jpg" class="flag"/> </a>  
          </span>
        </li>
        <li>
          <img src="/imgs/icons/flag_br.jpg" class="flag"/>
          Vinícius de Souza Barbosa

          <span class="social">
            <a target="_blank" href="https://github.com/vinivsb"> <img src="/imgs/icons/globe_mini.jpg" class="flag"/> </a>  
            <a target="_blank" href="https://twitter.com/vinisb_"> <img src="/imgs/icons/twitter.jpg" class="flag"/> </a>  
          </span>
        </li>
        <li>
          <img src="/imgs/icons/flag_br.jpg" class="flag"/>
          Rafael Santos

          <span class="social">
            <a target="_blank" href="https://twitter.com/formigarafa"> <img src="/imgs/icons/twitter.jpg" class="flag"/> </a>  
          </span>
        </li>
      </ul>

    </div>

    <div class="content_block">
      <h1> Special Thanks </h1>
      The following technologies were used to create this project:

      <ul class="techs">
        <li> <a target="_blank" href="http://angularjs.org/"> AngularJS </a> </li>
        <li> <a target="_blank" href="http://bower.io/"> Bower </a> </li>    
        <li> <a target="_blank" href="https://github.com/"> Github </a> </li>
        <li> <a target="_blank" href="http://gruntjs.com/"> Grunt </a> </li>
        <li> <a target="_blank" href="http://pivotal.github.io/jasmine/"> Jasmine </a> </li>
        <li> <a target="_blank" href="http://karma-runner.github.io/"> Karma </a> </li>
        <li> <a target="_blank" href="https://npmjs.org/"> NPM </a> </li>
        <li> <a target="_blank" href="http://guides.rubygems.org/rubygems-org-api/"> RubyGems API </a> </li>
        <li> <a target="_blank" href="http://sinonjs.org/"> Sinon </a> </li>
        <li> <a target="_blank" href="https://travis-ci.org/"> Travis </a> </li>
        <li> <a target="_blank" href="http://yeoman.io/"> Yeoman </a> </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
