<div id="search">

  <div class="header"></div>

	<div class="sub-header arrow center">
		Which gem are you looking for ?
	</div>	

  <form ng-submit="search()">
      <input type="text" id="searchTerm" ng-model="searchTerm" size="20" placeholder="Search gem...">
      <blockquote>Type and press Enter</blockquote>
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="loadingIcon()"></span>
  </form>

  <div class="footer">
    <a href="#/about" class="r_separator">  <img src="imgs/icons/about.png" /> About  </a> 
    <a href="https://github.com/pedrolopesme/gemexplorer" target="_blank"> <img src="imgs/icons/github.png" /> Fork on Github </a> 
  </div>

</div>