<div id="show">

  <div class="header">
     <a href="#/results/{{searchTerm}}" class="back"> 
      <img src="imgs/icons/arrow_white_left.jpg" />
    </a>
  </div>

  <div class="sub-header arrow center">
    <span class="gemVersion">   V. <b> {{gem.get('version')}} </b> </span>
    <span class="gemName"> {{gem.get('name')}} </span> <br />
    <span class="gemDownloads"> <b> {{gem.get('downloads')}} </b> download(s) </span>
  </div>

  <div class="gemInstall">
    {{gem.gemInstall()}}
  </div>

  <div class="gemDescription">
    {{gem.get('info')}}
  </div>

  <div class="gemfileConfig">
    Gemfile: <span class="command"> {{gem.gemfile()}} <span>
    <a href="" class="clipboardCopy" ng-click="copyGemfile()"> 
      copy 
      <img src="imgs/icons/clipboard.jpg" />
    </a> 
  </div>

  <div class="footer">
    <img src="imgs/icons/globe.jpg" />
    <ul>
      <li ng-repeat="link in links"> 
        <a target="_blank" href="{{link.url}}"> {{link.name}} </a> 
      </li>
    </ul>
  </div>

</div>